deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main restricted universe multiverse
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }} main restricted universe multiverse

deb http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main restricted universe multiverse
deb-src http://security.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-security main restricted universe multiverse

deb http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main restricted universe multiverse
deb-src http://archive.ubuntu.com/ubuntu {{ zfsprep_ubuntu_release }}-updates main restricted universe multiverse
